<a href="https://colab.research.google.com/github/NjokiM/UON_CS/blob/main/Simple_Sentiment_Analysis_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### **Contents**

1. Setup Kaggle on Colab Notebook
2. Download Required Libraries
3. Required Libraries
4. Read Dataset
5. Dataset Overview
6. Prepare Dataset
7. A Quick Example using VADER
8. For All Reviews
9. Append Results to Reviews Dataframe
10. Assigning Sentiment Tag
11. Final Result
12. Download Results as CSV File 

Reference: 
https://medium.com/analytics-vidhya/simple-sentiment-analysis-python-bf9de2d75d0

### **Download Required Libraries**

In [1]:
import nltk
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

### **Required Libraries**

In [2]:
import pandas as pd
from nltk.sentiment.vader import SentimentIntensityAnalyzer

### **Read Dataset**

In [3]:
#Read Dataset
data=pd.read_csv("/content/UltaSkincareReviews.csv",encoding='latin-1')
data.head(5)

,Review_Title,Review_Text,Verified_Buyer,Review_Date,Review_Location,Review_Upvotes,Review_Downvotes,Product,Brand,Scrape_Date
0,Perfect,Love using this on my face while in the shower...,No,15 days ago,Undisclosed,0,0,Multi-Vitamin Thermafoliant,Dermalogica,3/27/23
1,You need this,Even better than the daily microfoliant. I'm o...,No,27 days ago,Undisclosed,0,0,Multi-Vitamin Thermafoliant,Dermalogica,3/27/23
2,Clean skin,Enjoy this product so much ! I look forward to...,No,2 months ago,Undisclosed,0,0,Multi-Vitamin Thermafoliant,Dermalogica,3/27/23
3,Love This Stuff!,I've never tried anything like this before and...,No,2 months ago,Undisclosed,0,0,Multi-Vitamin Thermafoliant,Dermalogica,3/27/23
4,This exfoliates very nicely and,This exfoliates very nicely and gives a very s...,No,2 months ago,Undisclosed,0,0,Multi-Vitamin Thermafoliant,Dermalogica,3/27/23

### **Dataset Overview**

In [4]:
rows,cols=data.shape
print("Rows:",rows,"Cols:",cols)

Rows: 4150 Cols: 10

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4150 entries, 0 to 4149
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Review_Title      4150 non-null   object
 1   Review_Text       4148 non-null   object
 2   Verified_Buyer    4150 non-null   object
 3   Review_Date       4150 non-null   object
 4   Review_Location   4149 non-null   object
 5   Review_Upvotes    4150 non-null   int64
 6   Review_Downvotes  4150 non-null   int64
 7   Product           4150 non-null   object
 8   Brand             4150 non-null   object
 9   Scrape_Date       4150 non-null   object
dtypes: int64(2), object(8)
memory usage: 324.3+ KB

In [6]:
data.describe()

       Review_Upvotes  Review_Downvotes
count     4150.000000       4150.000000
mean         0.591325          0.161205
std          2.210041          0.912561
min          0.000000          0.000000
25%          0.000000          0.000000
50%          0.000000          0.000000
75%          0.000000          0.000000
max         84.000000         35.000000

### **Prepare Dataset**

In [7]:
reviews=data[["Review_Title","Review_Text"]]
reviews.head(5)

,Review_Title,Review_Text
0,Perfect,Love using this on my face while in the shower...
1,You need this,Even better than the daily microfoliant. I'm o...
2,Clean skin,Enjoy this product so much ! I look forward to...
3,Love This Stuff!,I've never tried anything like this before and...
4,This exfoliates very nicely and,This exfoliates very nicely and gives a very s...

### **A Quick Example using VADER**

In [8]:
rev=reviews['Review_Title'][0]
rev

'Perfect'

In [9]:
analyzer=SentimentIntensityAnalyzer()

In [10]:
analyzer.polarity_scores(rev)

{'neg': 0.0, 'neu': 0.0, 'pos': 1.0, 'compound': 0.5719}

* Pos: Positive Review Degree
* Neg: Negative Review Degree
* Neu: Neutral Review Degree
* Compound: It ranges from -1(very negative) to +1(very positive).

### **For All Reviews**

In [11]:
body=reviews.Review_Title
neg,neu,pos,compound=[],[],[],[]
for review in body:
  res=analyzer.polarity_scores(str(review))
  neg.append(res['neg'])
  neu.append(res['neu'])
  pos.append(res['pos'])
  compound.append(res['compound'])

### **Append Results to Reviews Dataframe**

In [12]:
reviews["Negative"]=neg
reviews["Neutral"]=neu
reviews["Positive"]=pos
reviews["Compound"]=compound
reviews.head(5)

<ipython-input-12-ecfe79d99412>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reviews["Negative"]=neg
<ipython-input-12-ecfe79d99412>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reviews["Neutral"]=neu
<ipython-input-12-ecfe79d99412>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reviews["Positive"]=pos
<ipython-input-12-ecfe79d99412>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reviews["Compound"]=compound

,Review_Title,Review_Text,Negative,Neutral,Positive,Compound
0,Perfect,Love using this on my face while in the shower...,0.0,0.000,1.000,0.5719
1,You need this,Even better than the daily microfoliant. I'm o...,0.0,1.000,0.000,0.0000
2,Clean skin,Enjoy this product so much ! I look forward to...,0.0,0.270,0.730,0.4019
3,Love This Stuff!,I've never tried anything like this before and...,0.0,0.308,0.692,0.6696
4,This exfoliates very nicely and,This exfoliates very nicely and gives a very s...,0.0,0.556,0.444,0.4927

### **Assigning Sentiment Tag**

In [13]:
tag=[]
for i in range(len(reviews)):
  winning_val=max(neg[i],pos[i],neu[i])
  if(neg[i]==winning_val):
    tag.append("Negative")
  elif(pos[i]==winning_val):
    tag.append("Positive")
  else:
    tag.append("Neutral")

In [14]:
reviews["Sentiment_Tag"]=tag

<ipython-input-14-0a0743acb9b9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reviews["Sentiment_Tag"]=tag

### **Final Result**

In [15]:
reviews.sample(5)

,Review_Title,Review_Text,Negative,Neutral,Positive,Compound,Sentiment_Tag
3321,More BANG for your buck!,"I love using this for my sensitive, acne prone...",0.0,1.000,0.000,0.0000,Neutral
2735,So good!,I traded my Clarisonic face brush for this. So...,0.0,0.223,0.777,0.5400,Positive
1794,Awesome cleanser,Awesome cleanser,0.0,0.196,0.804,0.6249,Positive
2468,Everyday Exfoliant,Finally an exfoliator fit for everyday use! I ...,0.0,1.000,0.000,0.0000,Neutral
1466,Wash wash wash,Great face wash for my sensitive skin. Use mor...,0.0,1.000,0.000,0.0000,Neutral

In [16]:
tt=len(reviews)
pp=reviews["Sentiment_Tag"][reviews["Sentiment_Tag"]=="Positive"].count()
nn=reviews["Sentiment_Tag"][reviews["Sentiment_Tag"]=="Negative"].count()
nt=reviews["Sentiment_Tag"][reviews["Sentiment_Tag"]=="Neutral"].count()

print("Number of Reviews:",tt)
print("Number of Positive Reviews:",pp)
print("Number of Negative Reviews:",nn)
print("Number of Neutral Reviews:",nt)

Number of Reviews: 4150
Number of Positive Reviews: 2240
Number of Negative Reviews: 95
Number of Neutral Reviews: 1815

### **Download Results as CSV File**

In [17]:
reviews.to_csv("UltaSkincareReviews_tagged1.csv")